<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd ">

   <!-- Initialization for data source -->
   <bean id="dataSource" 
      class="org.springframework.jdbc.datasource.DriverManagerDataSource">
      <property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
      <property name="url" value="jdbc:sqlserver://localhost;database=FINAL_PROJECT;"/>
      <property name="username" value="sa"/>
      <property name="password" value="Aa11111111"/>
   </bean>

   <!-- Definition for SchoolHighterJDBCTemplate bean -->
   <bean id="schoolHighterJDBCTemplate" 
      class="com.example.demo.SchoolHighterJDBCTemplate">
      <property name="dataSource"  ref="dataSource" />    
   </bean>
   <!-- Definition for AQIJDBCTemplate bean -->
   <bean id="AQIJDBCTemplate" 
      class="com.example.demo.AQIJDBCTemplate">
      <property name="dataSource"  ref="dataSource" />    
   </bean>

</beans>